/* line 5, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/includes/_mixins.scss */
.clearfix {
  *-zoom: 1;
  overflow: hidden; }

/* line 1, ../sass/base/_base.scss */
html {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 7, ../sass/base/_base.scss */
body {
  height: 100%; }

/* line 11, ../sass/base/_base.scss */
#top-container {
  height: 90vh;
  width: 100%;
  background: url(../img/water-rock.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed; }

/* line 20, ../sass/base/_base.scss */
.navbar {
  height: 10vh;
  overflow: hidden;
  background-color: #3c3c3b; }
  /* line 27, ../sass/base/_base.scss */
  .navbar ul {
    padding: 2% 0;
    text-align: center; }
    /* line 31, ../sass/base/_base.scss */
    .navbar ul li {
      display: inline;
      font-family: sans-serif;
      font-size: 30px;
      color: #f5f5f5; }
    /* line 38, ../sass/base/_base.scss */
    .navbar ul li:nth-child(1), .navbar ul li:nth-child(2) {
      margin-right: 60px; }

/* line 44, ../sass/base/_base.scss */
#work {
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 99;
  padding: 50px 0; }
  /* line 54, ../sass/base/_base.scss */
  #work .inner-work {
    position: relative;
    min-width: 1020px;
    width: 80%;
    margin: 0 auto;
    z-index: 99; }
    /* line 61, ../sass/base/_base.scss */
    #work .inner-work .work-item {
      position: relative;
      width: 46%;
      min-height: 250px;
      float: left;
      background-color: black;
      margin: 40px 0 0 0;
      z-index: 99; }
      @media only screen and (max-width: 640px) {
        /* line 61, ../sass/base/_base.scss */
        #work .inner-work .work-item {
          width: 100%;
          float: none; } }
      /* line 75, ../sass/base/_base.scss */
      #work .inner-work .work-item:nth-child(odd) {
        margin-right: 8%; }

/* line 82, ../sass/base/_base.scss */
#about {
  position: relative;
  min-height: 800px;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background: url(../img/baker-beach.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover; }

/* line 1, ../sass/layout/_slice.scss */
.slice {
  display: table;
  table-layout: fixed;
  width: 100%; }

/* line 7, ../sass/layout/_slice.scss */
.slice-autosize {
  table-layout: auto; }

@media only screen and (max-width: 640px) {
  /* line 18, ../sass/layout/_slice.scss */
  .content > .slice-item {
    display: block; }

  /* line 20, ../sass/layout/_slice.scss */
  .slice-item {
    display: block; } }
