@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/includes/_mixins.scss */
.clearfix {
  *-zoom: 1;
  overflow: hidden; }

/* line 1, ../sass/base/_base.scss */
html {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 7, ../sass/base/_base.scss */
body {
  height: 100%;
  background-color: #ECECEC;
  font-family: Roboto, sans-serif; }
  /* line 11, ../sass/base/_base.scss */
  body p {
    font-size: 15px;
    line-height: 1.3; }
    @media screen and (min-width: 320px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 15.5px; } }
    @media screen and (min-width: 480px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 15px; } }
    @media screen and (min-width: 640px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 16px;
        line-height: 1.4; } }
    @media screen and (min-width: phone-1) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 16px;
        line-height: 1.4; } }
    @media screen and (min-width: 960px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 18px; } }
    @media screen and (min-width: tablet-1) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 19px;
        line-height: 1.45; } }
    @media screen and (min-width: 1080px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 19px;
        line-height: 1.45; } }
    @media screen and (min-width: 1280px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 20px; } }
  /* line 15, ../sass/base/_base.scss */
  body h1 {
    font-size: 15px; }
    @media screen and (min-width: 320px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 16px; } }
    @media screen and (min-width: 480px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 16px; } }
    @media screen and (min-width: 640px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 18px; } }
    @media screen and (min-width: phone-1) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 18px; } }
    @media screen and (min-width: 960px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 27px; } }
    @media screen and (min-width: tablet-1) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 28px; } }
    @media screen and (min-width: 1080px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 28px; } }
    @media screen and (min-width: 1280px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 30px; } }

/* line 22, ../sass/base/_base.scss */
.stop-scroll {
  height: 100%;
  overflow: hidden; }

/* line 27, ../sass/base/_base.scss */
.padding-top {
  padding-top: 40px; }

/* line 30, ../sass/base/_base.scss */
.padding-bottom {
  padding-bottom: 30px; }

/* line 34, ../sass/base/_base.scss */
#top-container {
  height: 90vh;
  width: 100%;
  background: url(../img/water-rock.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  text-align: center; }
  @media only screen and (max-width: 960px) {
    /* line 34, ../sass/base/_base.scss */
    #top-container {
      height: 70vh; } }
  @media only screen and (max-width: 640px) {
    /* line 34, ../sass/base/_base.scss */
    #top-container {
      height: 50vh; } }
  /* line 53, ../sass/base/_base.scss */
  #top-container #top-text {
    padding-top: 7%; }
    /* line 56, ../sass/base/_base.scss */
    #top-container #top-text h1, #top-container #top-text h2 {
      font-size: 45px;
      color: white; }
      @media screen and (min-width: 320px) {
        /* line 56, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 50px; } }
      @media screen and (min-width: 480px) {
        /* line 56, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 50px; } }
      @media screen and (min-width: 640px) {
        /* line 56, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 60px; } }
      @media screen and (min-width: phone-1) {
        /* line 56, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 60px; } }
      @media screen and (min-width: 960px) {
        /* line 56, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 80px; } }
      @media screen and (min-width: tablet-1) {
        /* line 56, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 85px; } }
      @media screen and (min-width: 1080px) {
        /* line 56, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 95px; } }
      @media screen and (min-width: 1280px) {
        /* line 56, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 95px; } }
    /* line 61, ../sass/base/_base.scss */
    #top-container #top-text h1 {
      font-weight: 100; }
    /* line 64, ../sass/base/_base.scss */
    #top-container #top-text h2 {
      font-weight: 700; }
    /* line 69, ../sass/base/_base.scss */
    #top-container #top-text .hello {
      -webkit-animation-duration: 3s;
      -webkit-animation-delay: .01s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-duration: 3s;
      -moz-animation-delay: .01s;
      -moz-animation-iteration-count: 1; }
    /* line 77, ../sass/base/_base.scss */
    #top-container #top-text .mynameis {
      -webkit-animation-duration: 3s;
      -webkit-animation-delay: .07s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-duration: 3s;
      -moz-animation-delay: .07s;
      -moz-animation-iteration-count: 1; }
    /* line 85, ../sass/base/_base.scss */
    #top-container #top-text .thomas {
      -webkit-animation-duration: 3s;
      -webkit-animation-delay: .13s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-duration: 3s;
      -moz-animation-delay: .13s;
      -moz-animation-iteration-count: 1; }
    /* line 93, ../sass/base/_base.scss */
    #top-container #top-text .iama {
      -webkit-animation-duration: 3s;
      -webkit-animation-delay: .2s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-duration: 3s;
      -moz-animation-delay: .2s;
      -moz-animation-iteration-count: 1; }
    /* line 101, ../sass/base/_base.scss */
    #top-container #top-text .ux {
      -webkit-animation-duration: 3s;
      -webkit-animation-delay: .27s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-duration: 3s;
      -moz-animation-delay: .27s;
      -moz-animation-iteration-count: 1; }

/* line 112, ../sass/base/_base.scss */
.navbar {
  height: 10vh;
  overflow: hidden;
  background-color: #3C3C3B;
  background: url(../img/footer_lodyas.png); }
  @media only screen and (max-width: 960px) {
    /* line 112, ../sass/base/_base.scss */
    .navbar {
      height: 5vh; } }
  @media only screen and (max-width: 640px) {
    /* line 112, ../sass/base/_base.scss */
    .navbar {
      height: 5vh; } }
  /* line 128, ../sass/base/_base.scss */
  .navbar ul {
    text-align: center;
    font-weight: 300;
    		/*@include tablet() {
    			padding:2%;
    		}
    
    		@include tablet-l() {
    			padding:2%;
    		}
    
    		@include phone() {
    			padding:2%;
    		}*/ }
    /* line 145, ../sass/base/_base.scss */
    .navbar ul li {
      display: inline;
      font-family: sans-serif;
      vertical-align: middle;
      font-size: 15px; }
      @media screen and (min-width: 320px) {
        /* line 145, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 16px; } }
      @media screen and (min-width: 480px) {
        /* line 145, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 16px; } }
      @media screen and (min-width: 640px) {
        /* line 145, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 18px; } }
      @media screen and (min-width: phone-1) {
        /* line 145, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 18px; } }
      @media screen and (min-width: 960px) {
        /* line 145, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 27px; } }
      @media screen and (min-width: tablet-1) {
        /* line 145, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 28px; } }
      @media screen and (min-width: 1080px) {
        /* line 145, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 28px; } }
      @media screen and (min-width: 1280px) {
        /* line 145, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 30px; } }
      /* line 153, ../sass/base/_base.scss */
      .navbar ul li a {
        color: #ECECEC;
        line-height: 10vh;
        text-decoration: none;
        font-weight: 300; }
        /* line 159, ../sass/base/_base.scss */
        .navbar ul li a:hover {
          color: #77c043; }
        @media only screen and (max-width: 960px) {
          /* line 153, ../sass/base/_base.scss */
          .navbar ul li a {
            line-height: 5vh; } }
        @media only screen and (max-width: 640px) {
          /* line 153, ../sass/base/_base.scss */
          .navbar ul li a {
            line-height: 5vh; } }
    /* line 173, ../sass/base/_base.scss */
    .navbar ul li:nth-child(1), .navbar ul li:nth-child(2) {
      margin-right: 60px; }

/* line 179, ../sass/base/_base.scss */
#work {
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  /* line 189, ../sass/base/_base.scss */
  #work .inner-work {
    position: relative;
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 60px 0;
    /*Work Thumbnails*/ }
    /* line 204, ../sass/base/_base.scss */
    #work .inner-work .work-item {
      position: relative;
      width: 46%;
      padding-bottom: 25%;
      float: left;
      /*			background-color:black;*/
      margin: 40px 2% 0 2%;
      background: url(../img/calc_thumb.jpg) no-repeat;
      background-size: cover;
      /*@include tablet() {
      	width:56%;
      	padding-bottom:35%;
      	margin: 0;
      }*/ }
      /* line 217, ../sass/base/_base.scss */
      #work .inner-work .work-item .overlay {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        overflow: none;
        color: white;
        background-color: #3C3C3B; }
        /* line 227, ../sass/base/_base.scss */
        #work .inner-work .work-item .overlay h1 {
          text-align: center;
          padding: 20px 0; }
        /* line 232, ../sass/base/_base.scss */
        #work .inner-work .work-item .overlay p {
          padding: 0 20px;
          font-weight: 300; }
      /* line 238, ../sass/base/_base.scss */
      #work .inner-work .work-item:hover > .overlay {
        cursor: pointer;
        opacity: 0.9; }
      @media only screen and (max-width: 960px) {
        /* line 204, ../sass/base/_base.scss */
        #work .inner-work .work-item {
          width: 46%;
          padding-bottom: 25%;
          margin: 40px 2% 0 2%; } }
      @media only screen and (max-width: 640px) {
        /* line 204, ../sass/base/_base.scss */
        #work .inner-work .work-item {
          width: 90%;
          padding-bottom: 50%;
          float: none;
          margin: 20px 5%; } }
    /* line 269, ../sass/base/_base.scss */
    #work .inner-work .item1 {
      background: url(../img/thumbs/tenoric_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 274, ../sass/base/_base.scss */
    #work .inner-work .item2 {
      background: url(../img/thumbs/sfconserve_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 279, ../sass/base/_base.scss */
    #work .inner-work .item3 {
      background: url(../img/thumbs/brochure_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 284, ../sass/base/_base.scss */
    #work .inner-work .item4 {
      background: url(../img/thumbs/narwhal_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 289, ../sass/base/_base.scss */
    #work .inner-work .item5 {
      background: url(../img/thumbs/narnaut_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 294, ../sass/base/_base.scss */
    #work .inner-work .item6 {
      background: url(../img/thumbs/marshal_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 299, ../sass/base/_base.scss */
    #work .inner-work .item7 {
      background: url(../img/thumbs/lgbt_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 304, ../sass/base/_base.scss */
    #work .inner-work .item8 {
      background: url(../img/thumbs/ebook_thumb.jpg) no-repeat;
      background-size: cover; }

/* line 313, ../sass/base/_base.scss */
#about {
  position: relative;
  min-height: 800px;
  height: 90vh;
  width: 100%;
  overflow: none;
  background: url(../img/night-sky.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  /* line 324, ../sass/base/_base.scss */
  #about #inner-about {
    position: relative;
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 60px 0;
    z-index: 99; }
    /* line 332, ../sass/base/_base.scss */
    #about #inner-about .about-left {
      position: relative;
      float: left;
      width: 45%;
      color: #ECECEC; }
      @media only screen and (max-width: 960px) {
        /* line 332, ../sass/base/_base.scss */
        #about #inner-about .about-left {
          float: none;
          width: 80%;
          margin: 0 auto; } }
      @media only screen and (max-width: 640px) {
        /* line 332, ../sass/base/_base.scss */
        #about #inner-about .about-left {
          float: none;
          width: 90%;
          padding: 0 5%; } }
      /* line 351, ../sass/base/_base.scss */
      #about #inner-about .about-left hr {
        height: 2px;
        border: none;
        background-color: #ECECEC; }
      /* line 357, ../sass/base/_base.scss */
      #about #inner-about .about-left .about-left-list {
        position: relative;
        width: 46%;
        float: left;
        padding: 0 2%; }

/* line 367, ../sass/base/_base.scss */
#contact {
  position: relative;
  min-height: 600px;
  max-width: 1210px;
  width: 100%;
  padding: 60px 0;
  margin: 0 auto;
  overflow: hidden; }
  /* line 378, ../sass/base/_base.scss */
  #contact #lower-contact p {
    font-size: 12px;
    line-height: 1.3; }
    @media screen and (min-width: 320px) {
      /* line 378, ../sass/base/_base.scss */
      #contact #lower-contact p {
        font-size: 12.5px; } }
    @media screen and (min-width: 480px) {
      /* line 378, ../sass/base/_base.scss */
      #contact #lower-contact p {
        font-size: 12px; } }
    @media screen and (min-width: 640px) {
      /* line 378, ../sass/base/_base.scss */
      #contact #lower-contact p {
        font-size: 13px;
        line-height: 1.4; } }
    @media screen and (min-width: phone-1) {
      /* line 378, ../sass/base/_base.scss */
      #contact #lower-contact p {
        font-size: 13px;
        line-height: 1.4; } }
    @media screen and (min-width: 960px) {
      /* line 378, ../sass/base/_base.scss */
      #contact #lower-contact p {
        font-size: 15px; } }
    @media screen and (min-width: tablet-1) {
      /* line 378, ../sass/base/_base.scss */
      #contact #lower-contact p {
        font-size: 16px;
        line-height: 1.45; } }
    @media screen and (min-width: 1080px) {
      /* line 378, ../sass/base/_base.scss */
      #contact #lower-contact p {
        font-size: 16px;
        line-height: 1.45; } }
    @media screen and (min-width: 1280px) {
      /* line 378, ../sass/base/_base.scss */
      #contact #lower-contact p {
        font-size: 17px; } }
  /* line 382, ../sass/base/_base.scss */
  #contact #lower-contact hr {
    border: none;
    height: 2px;
    background-color: #f5f5f5; }
  @media only screen and (max-width: 960px) {
    /* line 377, ../sass/base/_base.scss */
    #contact #lower-contact {
      width: 80%;
      margin: 0 auto 40px auto;
      padding: 0; } }
  /* line 399, ../sass/base/_base.scss */
  #contact #upper-contact {
    position: relative;
    width: 100%;
    text-align: center;
    color: #878786;
    padding-bottom: 40px; }
    /* line 406, ../sass/base/_base.scss */
    #contact #upper-contact h1 {
      font-weight: 700;
      padding-bottom: 40px; }
    /* line 411, ../sass/base/_base.scss */
    #contact #upper-contact h2 {
      font-size: 15px;
      line-height: 1.3; }
      @media screen and (min-width: 320px) {
        /* line 411, ../sass/base/_base.scss */
        #contact #upper-contact h2 {
          font-size: 15.5px; } }
      @media screen and (min-width: 480px) {
        /* line 411, ../sass/base/_base.scss */
        #contact #upper-contact h2 {
          font-size: 15px; } }
      @media screen and (min-width: 640px) {
        /* line 411, ../sass/base/_base.scss */
        #contact #upper-contact h2 {
          font-size: 16px;
          line-height: 1.4; } }
      @media screen and (min-width: phone-1) {
        /* line 411, ../sass/base/_base.scss */
        #contact #upper-contact h2 {
          font-size: 16px;
          line-height: 1.4; } }
      @media screen and (min-width: 960px) {
        /* line 411, ../sass/base/_base.scss */
        #contact #upper-contact h2 {
          font-size: 18px; } }
      @media screen and (min-width: tablet-1) {
        /* line 411, ../sass/base/_base.scss */
        #contact #upper-contact h2 {
          font-size: 19px;
          line-height: 1.45; } }
      @media screen and (min-width: 1080px) {
        /* line 411, ../sass/base/_base.scss */
        #contact #upper-contact h2 {
          font-size: 19px;
          line-height: 1.45; } }
      @media screen and (min-width: 1280px) {
        /* line 411, ../sass/base/_base.scss */
        #contact #upper-contact h2 {
          font-size: 20px; } }
    /* line 416, ../sass/base/_base.scss */
    #contact #upper-contact p {
      font-size: 45px; }
      @media screen and (min-width: 320px) {
        /* line 416, ../sass/base/_base.scss */
        #contact #upper-contact p {
          font-size: 50px; } }
      @media screen and (min-width: 480px) {
        /* line 416, ../sass/base/_base.scss */
        #contact #upper-contact p {
          font-size: 50px; } }
      @media screen and (min-width: 640px) {
        /* line 416, ../sass/base/_base.scss */
        #contact #upper-contact p {
          font-size: 60px; } }
      @media screen and (min-width: phone-1) {
        /* line 416, ../sass/base/_base.scss */
        #contact #upper-contact p {
          font-size: 60px; } }
      @media screen and (min-width: 960px) {
        /* line 416, ../sass/base/_base.scss */
        #contact #upper-contact p {
          font-size: 80px; } }
      @media screen and (min-width: tablet-1) {
        /* line 416, ../sass/base/_base.scss */
        #contact #upper-contact p {
          font-size: 85px; } }
      @media screen and (min-width: 1080px) {
        /* line 416, ../sass/base/_base.scss */
        #contact #upper-contact p {
          font-size: 95px; } }
      @media screen and (min-width: 1280px) {
        /* line 416, ../sass/base/_base.scss */
        #contact #upper-contact p {
          font-size: 95px; } }
  /* line 421, ../sass/base/_base.scss */
  #contact .lower-float {
    position: relative;
    float: left;
    width: 46%; }
    /* line 426, ../sass/base/_base.scss */
    #contact .lower-float:nth-child(n-1) {
      padding: 0 4% 0 0; }
    @media only screen and (max-width: 960px) {
      /* line 421, ../sass/base/_base.scss */
      #contact .lower-float {
        width: 100%;
        margin: 0 auto 40px auto;
        padding: 0; } }
    /* line 436, ../sass/base/_base.scss */
    #contact .lower-float label {
      color: #878786;
      font-size: 15px;
      line-height: 1.3; }
      @media screen and (min-width: 320px) {
        /* line 436, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 15.5px; } }
      @media screen and (min-width: 480px) {
        /* line 436, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 15px; } }
      @media screen and (min-width: 640px) {
        /* line 436, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 16px;
          line-height: 1.4; } }
      @media screen and (min-width: phone-1) {
        /* line 436, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 16px;
          line-height: 1.4; } }
      @media screen and (min-width: 960px) {
        /* line 436, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 18px; } }
      @media screen and (min-width: tablet-1) {
        /* line 436, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 19px;
          line-height: 1.45; } }
      @media screen and (min-width: 1080px) {
        /* line 436, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 19px;
          line-height: 1.45; } }
      @media screen and (min-width: 1280px) {
        /* line 436, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 20px; } }
    /* line 441, ../sass/base/_base.scss */
    #contact .lower-float input[type=text] {
      font-size: 15px;
      line-height: 1.3;
      width: 100%;
      height: 40px;
      background-color: #f5f5f5;
      border: 1px solid #878786;
      margin: 10px 0 15px 0; }
      @media screen and (min-width: 320px) {
        /* line 441, ../sass/base/_base.scss */
        #contact .lower-float input[type=text] {
          font-size: 15.5px; } }
      @media screen and (min-width: 480px) {
        /* line 441, ../sass/base/_base.scss */
        #contact .lower-float input[type=text] {
          font-size: 15px; } }
      @media screen and (min-width: 640px) {
        /* line 441, ../sass/base/_base.scss */
        #contact .lower-float input[type=text] {
          font-size: 16px;
          line-height: 1.4; } }
      @media screen and (min-width: phone-1) {
        /* line 441, ../sass/base/_base.scss */
        #contact .lower-float input[type=text] {
          font-size: 16px;
          line-height: 1.4; } }
      @media screen and (min-width: 960px) {
        /* line 441, ../sass/base/_base.scss */
        #contact .lower-float input[type=text] {
          font-size: 18px; } }
      @media screen and (min-width: tablet-1) {
        /* line 441, ../sass/base/_base.scss */
        #contact .lower-float input[type=text] {
          font-size: 19px;
          line-height: 1.45; } }
      @media screen and (min-width: 1080px) {
        /* line 441, ../sass/base/_base.scss */
        #contact .lower-float input[type=text] {
          font-size: 19px;
          line-height: 1.45; } }
      @media screen and (min-width: 1280px) {
        /* line 441, ../sass/base/_base.scss */
        #contact .lower-float input[type=text] {
          font-size: 20px; } }
    /* line 450, ../sass/base/_base.scss */
    #contact .lower-float textarea {
      max-width: 100%;
      width: 100%;
      max-height: 200px; }
    /* line 456, ../sass/base/_base.scss */
    #contact .lower-float input[type=submit] {
      font-size: 15px;
      line-height: 1.3;
      width: 100%;
      height: 40px;
      background-color: #3C3C3B;
      color: #ECECEC;
      border: none;
      margin: 15px 0 0 2px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px; }
      @media screen and (min-width: 320px) {
        /* line 456, ../sass/base/_base.scss */
        #contact .lower-float input[type=submit] {
          font-size: 15.5px; } }
      @media screen and (min-width: 480px) {
        /* line 456, ../sass/base/_base.scss */
        #contact .lower-float input[type=submit] {
          font-size: 15px; } }
      @media screen and (min-width: 640px) {
        /* line 456, ../sass/base/_base.scss */
        #contact .lower-float input[type=submit] {
          font-size: 16px;
          line-height: 1.4; } }
      @media screen and (min-width: phone-1) {
        /* line 456, ../sass/base/_base.scss */
        #contact .lower-float input[type=submit] {
          font-size: 16px;
          line-height: 1.4; } }
      @media screen and (min-width: 960px) {
        /* line 456, ../sass/base/_base.scss */
        #contact .lower-float input[type=submit] {
          font-size: 18px; } }
      @media screen and (min-width: tablet-1) {
        /* line 456, ../sass/base/_base.scss */
        #contact .lower-float input[type=submit] {
          font-size: 19px;
          line-height: 1.45; } }
      @media screen and (min-width: 1080px) {
        /* line 456, ../sass/base/_base.scss */
        #contact .lower-float input[type=submit] {
          font-size: 19px;
          line-height: 1.45; } }
      @media screen and (min-width: 1280px) {
        /* line 456, ../sass/base/_base.scss */
        #contact .lower-float input[type=submit] {
          font-size: 20px; } }
      /* line 469, ../sass/base/_base.scss */
      #contact .lower-float input[type=submit]:hover {
        cursor: pointer;
        background-color: #77c043; }
  /* line 477, ../sass/base/_base.scss */
  #contact .lower-right h1 {
    font-size: 15px;
    line-height: 1.3; }
    @media screen and (min-width: 320px) {
      /* line 477, ../sass/base/_base.scss */
      #contact .lower-right h1 {
        font-size: 15.5px; } }
    @media screen and (min-width: 480px) {
      /* line 477, ../sass/base/_base.scss */
      #contact .lower-right h1 {
        font-size: 15px; } }
    @media screen and (min-width: 640px) {
      /* line 477, ../sass/base/_base.scss */
      #contact .lower-right h1 {
        font-size: 16px;
        line-height: 1.4; } }
    @media screen and (min-width: phone-1) {
      /* line 477, ../sass/base/_base.scss */
      #contact .lower-right h1 {
        font-size: 16px;
        line-height: 1.4; } }
    @media screen and (min-width: 960px) {
      /* line 477, ../sass/base/_base.scss */
      #contact .lower-right h1 {
        font-size: 18px; } }
    @media screen and (min-width: tablet-1) {
      /* line 477, ../sass/base/_base.scss */
      #contact .lower-right h1 {
        font-size: 19px;
        line-height: 1.45; } }
    @media screen and (min-width: 1080px) {
      /* line 477, ../sass/base/_base.scss */
      #contact .lower-right h1 {
        font-size: 19px;
        line-height: 1.45; } }
    @media screen and (min-width: 1280px) {
      /* line 477, ../sass/base/_base.scss */
      #contact .lower-right h1 {
        font-size: 20px; } }
  @media only screen and (max-width: 960px) {
    /* line 476, ../sass/base/_base.scss */
    #contact .lower-right {
      display: none; } }
  /* line 485, ../sass/base/_base.scss */
  #contact .lower-right a {
    text-decoration: none; }
  /* line 489, ../sass/base/_base.scss */
  #contact .lower-right .social > ul > a > li {
    font-size: 45px;
    display: inline;
    color: #3C3C3B; }
    @media screen and (min-width: 320px) {
      /* line 489, ../sass/base/_base.scss */
      #contact .lower-right .social > ul > a > li {
        font-size: 50px; } }
    @media screen and (min-width: 480px) {
      /* line 489, ../sass/base/_base.scss */
      #contact .lower-right .social > ul > a > li {
        font-size: 50px; } }
    @media screen and (min-width: 640px) {
      /* line 489, ../sass/base/_base.scss */
      #contact .lower-right .social > ul > a > li {
        font-size: 60px; } }
    @media screen and (min-width: phone-1) {
      /* line 489, ../sass/base/_base.scss */
      #contact .lower-right .social > ul > a > li {
        font-size: 60px; } }
    @media screen and (min-width: 960px) {
      /* line 489, ../sass/base/_base.scss */
      #contact .lower-right .social > ul > a > li {
        font-size: 80px; } }
    @media screen and (min-width: tablet-1) {
      /* line 489, ../sass/base/_base.scss */
      #contact .lower-right .social > ul > a > li {
        font-size: 85px; } }
    @media screen and (min-width: 1080px) {
      /* line 489, ../sass/base/_base.scss */
      #contact .lower-right .social > ul > a > li {
        font-size: 95px; } }
    @media screen and (min-width: 1280px) {
      /* line 489, ../sass/base/_base.scss */
      #contact .lower-right .social > ul > a > li {
        font-size: 95px; } }
    /* line 494, ../sass/base/_base.scss */
    #contact .lower-right .social > ul > a > li:hover {
      cursor: pointer;
      color: #77c043; }
  /* line 500, ../sass/base/_base.scss */
  #contact .lower-right li:nth-child(1), #contact .lower-right li:nth-child(2), #contact .lower-right li:nth-child(3) {
    margin-right: 35px; }

/* line 507, ../sass/base/_base.scss */
#footer {
  position: relative;
  height: 20vh;
  width: 100%;
  background-color: #3C3C3B;
  color: #878786;
  text-align: center; }
  /* line 515, ../sass/base/_base.scss */
  #footer a {
    text-decoration: none; }
  /* line 519, ../sass/base/_base.scss */
  #footer .footer-social {
    padding: 40px 0; }
  /* line 523, ../sass/base/_base.scss */
  #footer .footer-social > ul > a > li {
    font-size: 12px;
    display: inline;
    margin: 0 15px;
    color: #878786; }
    @media screen and (min-width: 320px) {
      /* line 523, ../sass/base/_base.scss */
      #footer .footer-social > ul > a > li {
        font-size: 14px; } }
    @media screen and (min-width: 480px) {
      /* line 523, ../sass/base/_base.scss */
      #footer .footer-social > ul > a > li {
        font-size: 14px; } }
    @media screen and (min-width: 640px) {
      /* line 523, ../sass/base/_base.scss */
      #footer .footer-social > ul > a > li {
        font-size: 16px; } }
    @media screen and (min-width: phone-1) {
      /* line 523, ../sass/base/_base.scss */
      #footer .footer-social > ul > a > li {
        font-size: 16px; } }
    @media screen and (min-width: 960px) {
      /* line 523, ../sass/base/_base.scss */
      #footer .footer-social > ul > a > li {
        font-size: 23px; } }
    @media screen and (min-width: tablet-1) {
      /* line 523, ../sass/base/_base.scss */
      #footer .footer-social > ul > a > li {
        font-size: 24px; } }
    @media screen and (min-width: 1080px) {
      /* line 523, ../sass/base/_base.scss */
      #footer .footer-social > ul > a > li {
        font-size: 24px; } }
    @media screen and (min-width: 1280px) {
      /* line 523, ../sass/base/_base.scss */
      #footer .footer-social > ul > a > li {
        font-size: 26px; } }
    /* line 529, ../sass/base/_base.scss */
    #footer .footer-social > ul > a > li:hover {
      cursor: pointer;
      color: #77c043; }
  /* line 535, ../sass/base/_base.scss */
  #footer p {
    font-size: 12px;
    line-height: 1.3; }
    @media screen and (min-width: 320px) {
      /* line 535, ../sass/base/_base.scss */
      #footer p {
        font-size: 12.5px; } }
    @media screen and (min-width: 480px) {
      /* line 535, ../sass/base/_base.scss */
      #footer p {
        font-size: 12px; } }
    @media screen and (min-width: 640px) {
      /* line 535, ../sass/base/_base.scss */
      #footer p {
        font-size: 13px;
        line-height: 1.4; } }
    @media screen and (min-width: phone-1) {
      /* line 535, ../sass/base/_base.scss */
      #footer p {
        font-size: 13px;
        line-height: 1.4; } }
    @media screen and (min-width: 960px) {
      /* line 535, ../sass/base/_base.scss */
      #footer p {
        font-size: 15px; } }
    @media screen and (min-width: tablet-1) {
      /* line 535, ../sass/base/_base.scss */
      #footer p {
        font-size: 16px;
        line-height: 1.45; } }
    @media screen and (min-width: 1080px) {
      /* line 535, ../sass/base/_base.scss */
      #footer p {
        font-size: 16px;
        line-height: 1.45; } }
    @media screen and (min-width: 1280px) {
      /* line 535, ../sass/base/_base.scss */
      #footer p {
        font-size: 17px; } }

/* line 1, ../sass/layout/_slice.scss */
.slice {
  display: table;
  table-layout: fixed;
  width: 100%; }

/* line 7, ../sass/layout/_slice.scss */
.slice-autosize {
  table-layout: auto; }

@media only screen and (max-width: 640px) {
  /* line 18, ../sass/layout/_slice.scss */
  .content > .slice-item {
    display: block; }

  /* line 20, ../sass/layout/_slice.scss */
  .slice-item {
    display: block; } }
@media only screen and (max-width: 960px) {
  /* line 27, ../sass/layout/_slice.scss */
  .content > .slice-item {
    display: block; }

  /* line 29, ../sass/layout/_slice.scss */
  .slice-item {
    display: block; } }
/* line 1, ../sass/module/_modal.scss */
.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3C3C3B;
  color: #ECECEC;
  z-index: 100; }
  /* line 12, ../sass/module/_modal.scss */
  .modal-wrapper #modal-close {
    position: absolute;
    width: 100px;
    text-align: center;
    padding: 15px;
    right: 5px;
    top: 5px;
    cursor: pointer;
    font-size: 45px; }
    @media screen and (min-width: 320px) {
      /* line 12, ../sass/module/_modal.scss */
      .modal-wrapper #modal-close {
        font-size: 50px; } }
    @media screen and (min-width: 480px) {
      /* line 12, ../sass/module/_modal.scss */
      .modal-wrapper #modal-close {
        font-size: 50px; } }
    @media screen and (min-width: 640px) {
      /* line 12, ../sass/module/_modal.scss */
      .modal-wrapper #modal-close {
        font-size: 60px; } }
    @media screen and (min-width: phone-1) {
      /* line 12, ../sass/module/_modal.scss */
      .modal-wrapper #modal-close {
        font-size: 60px; } }
    @media screen and (min-width: 960px) {
      /* line 12, ../sass/module/_modal.scss */
      .modal-wrapper #modal-close {
        font-size: 80px; } }
    @media screen and (min-width: tablet-1) {
      /* line 12, ../sass/module/_modal.scss */
      .modal-wrapper #modal-close {
        font-size: 85px; } }
    @media screen and (min-width: 1080px) {
      /* line 12, ../sass/module/_modal.scss */
      .modal-wrapper #modal-close {
        font-size: 95px; } }
    @media screen and (min-width: 1280px) {
      /* line 12, ../sass/module/_modal.scss */
      .modal-wrapper #modal-close {
        font-size: 95px; } }
    /* line 24, ../sass/module/_modal.scss */
    .modal-wrapper #modal-close:hover {
      color: #77c043; }
  /* line 28, ../sass/module/_modal.scss */
  .modal-wrapper .modal {
    display: none;
    position: relative;
    overflow: auto;
    zoom: 1;
    width: 90%;
    margin: 150px auto; }
    /* line 39, ../sass/module/_modal.scss */
    .modal-wrapper .modal .modal-item {
      width: 50%;
      float: left;
      text-align: left; }
      /* line 44, ../sass/module/_modal.scss */
      .modal-wrapper .modal .modal-item img {
        width: 80%;
        float: right;
        padding-right: 60px; }
    /* line 50, ../sass/module/_modal.scss */
    .modal-wrapper .modal.is-active {
      display: block; }
