@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700);
/* line 5, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, ../sass/includes/_mixins.scss */
.clearfix {
  *-zoom: 1;
  overflow: hidden; }

/* line 1, ../sass/base/_base.scss */
html {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 7, ../sass/base/_base.scss */
body {
  height: 100%;
  background-color: #ECECEC;
  font-family: Roboto, sans-serif; }
  /* line 11, ../sass/base/_base.scss */
  body p {
    font-size: 15px;
    line-height: 1.3; }
    @media screen and (min-width: 320px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 15.5px; } }
    @media screen and (min-width: 480px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 15px; } }
    @media screen and (min-width: 640px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 16px;
        line-height: 1.4; } }
    @media screen and (min-width: phone-1) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 16px;
        line-height: 1.4; } }
    @media screen and (min-width: 960px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 18px; } }
    @media screen and (min-width: tablet-1) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 19px;
        line-height: 1.45; } }
    @media screen and (min-width: 1080px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 19px;
        line-height: 1.45; } }
    @media screen and (min-width: 1280px) {
      /* line 11, ../sass/base/_base.scss */
      body p {
        font-size: 20px; } }
  /* line 15, ../sass/base/_base.scss */
  body h1 {
    font-size: 15px; }
    @media screen and (min-width: 320px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 16px; } }
    @media screen and (min-width: 480px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 16px; } }
    @media screen and (min-width: 640px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 18px; } }
    @media screen and (min-width: phone-1) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 18px; } }
    @media screen and (min-width: 960px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 27px; } }
    @media screen and (min-width: tablet-1) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 28px; } }
    @media screen and (min-width: 1080px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 28px; } }
    @media screen and (min-width: 1280px) {
      /* line 15, ../sass/base/_base.scss */
      body h1 {
        font-size: 30px; } }

/* line 22, ../sass/base/_base.scss */
.padding-top {
  padding-top: 40px; }

/* line 26, ../sass/base/_base.scss */
#top-container {
  height: 90vh;
  width: 100%;
  background: url(../img/water-rock.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center; }
  /* line 36, ../sass/base/_base.scss */
  #top-container #top-text {
    padding-top: 10vh; }
    /* line 40, ../sass/base/_base.scss */
    #top-container #top-text h1, #top-container #top-text h2 {
      font-size: 45px;
      color: white; }
      @media screen and (min-width: 320px) {
        /* line 40, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 50px; } }
      @media screen and (min-width: 480px) {
        /* line 40, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 50px; } }
      @media screen and (min-width: 640px) {
        /* line 40, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 60px; } }
      @media screen and (min-width: phone-1) {
        /* line 40, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 60px; } }
      @media screen and (min-width: 960px) {
        /* line 40, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 80px; } }
      @media screen and (min-width: tablet-1) {
        /* line 40, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 85px; } }
      @media screen and (min-width: 1080px) {
        /* line 40, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 95px; } }
      @media screen and (min-width: 1280px) {
        /* line 40, ../sass/base/_base.scss */
        #top-container #top-text h1, #top-container #top-text h2 {
          font-size: 95px; } }
    /* line 45, ../sass/base/_base.scss */
    #top-container #top-text h1 {
      font-weight: 100; }
    /* line 48, ../sass/base/_base.scss */
    #top-container #top-text h2 {
      font-weight: 700; }
    /* line 53, ../sass/base/_base.scss */
    #top-container #top-text .hello {
      -webkit-animation-duration: 3s;
      -webkit-animation-delay: .01s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-duration: 3s;
      -moz-animation-delay: .01s;
      -moz-animation-iteration-count: 1; }
    /* line 61, ../sass/base/_base.scss */
    #top-container #top-text .mynameis {
      -webkit-animation-duration: 3s;
      -webkit-animation-delay: .07s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-duration: 3s;
      -moz-animation-delay: .07s;
      -moz-animation-iteration-count: 1; }
    /* line 69, ../sass/base/_base.scss */
    #top-container #top-text .thomas {
      -webkit-animation-duration: 3s;
      -webkit-animation-delay: .13s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-duration: 3s;
      -moz-animation-delay: .13s;
      -moz-animation-iteration-count: 1; }
    /* line 77, ../sass/base/_base.scss */
    #top-container #top-text .iama {
      -webkit-animation-duration: 3s;
      -webkit-animation-delay: .2s;
      -webkit-animation-iteration-count: 1;
      -moz-animation-duration: 3s;
      -moz-animation-delay: .2s;
      -moz-animation-iteration-count: 1; }

/* line 88, ../sass/base/_base.scss */
.navbar {
  height: 10vh;
  overflow: hidden;
  background-color: #3C3C3B; }
  @media only screen and (max-width: 960px) {
    /* line 88, ../sass/base/_base.scss */
    .navbar {
      height: 5vh; } }
  @media only screen and (max-width: 640px) {
    /* line 88, ../sass/base/_base.scss */
    .navbar {
      height: 5vh; } }
  /* line 103, ../sass/base/_base.scss */
  .navbar ul {
    text-align: center;
    font-weight: 300;
    		/*@include tablet() {
    			padding:2%;
    		}
    
    		@include tablet-l() {
    			padding:2%;
    		}
    
    		@include phone() {
    			padding:2%;
    		}*/ }
    /* line 120, ../sass/base/_base.scss */
    .navbar ul li {
      display: inline;
      font-family: sans-serif;
      vertical-align: middle;
      font-size: 15px; }
      @media screen and (min-width: 320px) {
        /* line 120, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 16px; } }
      @media screen and (min-width: 480px) {
        /* line 120, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 16px; } }
      @media screen and (min-width: 640px) {
        /* line 120, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 18px; } }
      @media screen and (min-width: phone-1) {
        /* line 120, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 18px; } }
      @media screen and (min-width: 960px) {
        /* line 120, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 27px; } }
      @media screen and (min-width: tablet-1) {
        /* line 120, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 28px; } }
      @media screen and (min-width: 1080px) {
        /* line 120, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 28px; } }
      @media screen and (min-width: 1280px) {
        /* line 120, ../sass/base/_base.scss */
        .navbar ul li {
          font-size: 30px; } }
      /* line 128, ../sass/base/_base.scss */
      .navbar ul li a {
        color: #ECECEC;
        line-height: 10vh;
        text-decoration: none;
        font-weight: 300; }
        /* line 134, ../sass/base/_base.scss */
        .navbar ul li a:hover {
          color: #77c043; }
        @media only screen and (max-width: 960px) {
          /* line 128, ../sass/base/_base.scss */
          .navbar ul li a {
            line-height: 5vh; } }
        @media only screen and (max-width: 640px) {
          /* line 128, ../sass/base/_base.scss */
          .navbar ul li a {
            line-height: 5vh; } }
    /* line 148, ../sass/base/_base.scss */
    .navbar ul li:nth-child(1), .navbar ul li:nth-child(2) {
      margin-right: 60px; }

/* line 154, ../sass/base/_base.scss */
#work {
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  /* line 164, ../sass/base/_base.scss */
  #work .inner-work {
    position: relative;
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 60px 0;
    /*Work Thumbnails*/
    /* Modal Styling*/ }
    /* line 179, ../sass/base/_base.scss */
    #work .inner-work .work-item {
      position: relative;
      width: 46%;
      padding-bottom: 25%;
      float: left;
      /*			background-color:black;*/
      margin: 40px 2% 0 2%;
      background: url(../img/calc_thumb.jpg) no-repeat;
      background-size: cover;
      /*@include tablet() {
      	width:56%;
      	padding-bottom:35%;
      	margin: 0;
      }*/ }
      /* line 192, ../sass/base/_base.scss */
      #work .inner-work .work-item .overlay {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        overflow: none;
        color: white;
        background-color: #3C3C3B; }
        /* line 202, ../sass/base/_base.scss */
        #work .inner-work .work-item .overlay h1 {
          text-align: center;
          padding: 20px 0; }
        /* line 207, ../sass/base/_base.scss */
        #work .inner-work .work-item .overlay p {
          padding: 0 20px;
          font-weight: 300; }
      /* line 213, ../sass/base/_base.scss */
      #work .inner-work .work-item:hover > .overlay {
        cursor: pointer;
        opacity: 0.9; }
      @media only screen and (max-width: 960px) {
        /* line 179, ../sass/base/_base.scss */
        #work .inner-work .work-item {
          width: 46%;
          padding-bottom: 25%;
          margin: 40px 2% 0 2%; } }
      @media only screen and (max-width: 640px) {
        /* line 179, ../sass/base/_base.scss */
        #work .inner-work .work-item {
          width: 90%;
          padding-bottom: 50%;
          float: none;
          margin: 20px 5%; } }
    /* line 244, ../sass/base/_base.scss */
    #work .inner-work .item1 {
      background: url(../img/thumbs/tenoric_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 249, ../sass/base/_base.scss */
    #work .inner-work .item2 {
      background: url(../img/thumbs/sfconserve_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 254, ../sass/base/_base.scss */
    #work .inner-work .item3 {
      background: url(../img/thumbs/brochure_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 259, ../sass/base/_base.scss */
    #work .inner-work .item4 {
      background: url(../img/thumbs/narwhal_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 264, ../sass/base/_base.scss */
    #work .inner-work .item5 {
      background: url(../img/thumbs/narnaut_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 269, ../sass/base/_base.scss */
    #work .inner-work .item6 {
      background: url(../img/thumbs/marshal_thumb.jpg) no-repeat;
      background-size: cover; }
    /* line 276, ../sass/base/_base.scss */
    #work .inner-work .modal-wrapper {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 40px;
      background: LightBlue;
      z-index: 100; }
      /* line 288, ../sass/base/_base.scss */
      #work .inner-work .modal-wrapper .modal-close {
        width: 100px;
        text-align: center;
        padding: 15px;
        border: 1px solid gray;
        cursor: pointer; }
        /* line 294, ../sass/base/_base.scss */
        #work .inner-work .modal-wrapper .modal-close:hover {
          background: red; }
      /* line 298, ../sass/base/_base.scss */
      #work .inner-work .modal-wrapper .modal {
        overflow: auto;
        zoom: 1;
        width: 50%;
        margin: 0 auto;
        border: 1px solid gray; }
        /* line 306, ../sass/base/_base.scss */
        #work .inner-work .modal-wrapper .modal .modal-item {
          width: 50%;
          float: left;
          text-align: center; }
          /* line 310, ../sass/base/_base.scss */
          #work .inner-work .modal-wrapper .modal .modal-item img {
            width: 100%; }

/* line 319, ../sass/base/_base.scss */
#about {
  position: relative;
  min-height: 800px;
  height: 90vh;
  width: 100%;
  overflow: none;
  background: url(../img/night-sky.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  /* line 330, ../sass/base/_base.scss */
  #about #inner-about {
    position: relative;
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 60px 0;
    z-index: 99; }
    /* line 338, ../sass/base/_base.scss */
    #about #inner-about .about-left {
      position: relative;
      float: left;
      width: 45%;
      color: #ECECEC; }
      @media only screen and (max-width: 960px) {
        /* line 338, ../sass/base/_base.scss */
        #about #inner-about .about-left {
          float: none;
          width: 80%;
          margin: 0 auto; } }
      @media only screen and (max-width: 640px) {
        /* line 338, ../sass/base/_base.scss */
        #about #inner-about .about-left {
          float: none;
          width: 90%;
          padding: 0 5%; } }
      /* line 357, ../sass/base/_base.scss */
      #about #inner-about .about-left hr {
        height: 2px;
        border: none;
        background-color: #ECECEC; }
      /* line 363, ../sass/base/_base.scss */
      #about #inner-about .about-left .about-left-list {
        position: relative;
        width: 46%;
        float: left;
        padding: 0 2%; }

/* line 373, ../sass/base/_base.scss */
#contact {
  position: relative;
  min-height: 600px;
  height: 90vh;
  max-width: 1210px;
  width: 100%;
  padding: 60px 0;
  margin: 0 auto; }
  /* line 382, ../sass/base/_base.scss */
  #contact #upper-contact {
    position: relative;
    width: 100%;
    text-align: center;
    color: #878786;
    padding-bottom: 60px; }
  /* line 390, ../sass/base/_base.scss */
  #contact .lower-float {
    position: relative;
    float: left;
    width: 46%; }
    /* line 395, ../sass/base/_base.scss */
    #contact .lower-float:nth-child(n-1) {
      padding: 0 4% 0 0; }
    /* line 399, ../sass/base/_base.scss */
    #contact .lower-float label {
      color: #878786;
      font-size: 15px;
      line-height: 1.3; }
      @media screen and (min-width: 320px) {
        /* line 399, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 15.5px; } }
      @media screen and (min-width: 480px) {
        /* line 399, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 15px; } }
      @media screen and (min-width: 640px) {
        /* line 399, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 16px;
          line-height: 1.4; } }
      @media screen and (min-width: phone-1) {
        /* line 399, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 16px;
          line-height: 1.4; } }
      @media screen and (min-width: 960px) {
        /* line 399, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 18px; } }
      @media screen and (min-width: tablet-1) {
        /* line 399, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 19px;
          line-height: 1.45; } }
      @media screen and (min-width: 1080px) {
        /* line 399, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 19px;
          line-height: 1.45; } }
      @media screen and (min-width: 1280px) {
        /* line 399, ../sass/base/_base.scss */
        #contact .lower-float label {
          font-size: 20px; } }
    /* line 404, ../sass/base/_base.scss */
    #contact .lower-float input[type=text] {
      width: 100%;
      height: 40px;
      line-height: 40px;
      background-color: #f5f5f5;
      border: 1px solid #878786;
      margin: 10px 0 15px 0; }
    /* line 413, ../sass/base/_base.scss */
    #contact .lower-float textarea {
      max-width: 100%;
      width: 100%;
      max-height: 200px; }

/* line 422, ../sass/base/_base.scss */
#footer {
  position: relative;
  height: 20vh;
  width: 100%;
  background-color: #3C3C3B; }

/* line 1, ../sass/layout/_slice.scss */
.slice {
  display: table;
  table-layout: fixed;
  width: 100%; }

/* line 7, ../sass/layout/_slice.scss */
.slice-autosize {
  table-layout: auto; }

@media only screen and (max-width: 640px) {
  /* line 18, ../sass/layout/_slice.scss */
  .content > .slice-item {
    display: block; }

  /* line 20, ../sass/layout/_slice.scss */
  .slice-item {
    display: block; } }
@media only screen and (max-width: 960px) {
  /* line 27, ../sass/layout/_slice.scss */
  .content > .slice-item {
    display: block; }

  /* line 29, ../sass/layout/_slice.scss */
  .slice-item {
    display: block; } }
