html {
	margin:0;
	padding:0;
	height:100%;
}

body {
	height:100%;
	background-color:$white;

	p {
		@include font-size($p-font-sizes);
	}

	h1 {
		@include font-size($h1-font-sizes);
	}

	font-family: $roboto;
}

.stop-scroll {
	height:100%;
	overflow:hidden;
}

.padding-top {
	padding-top:40px;
}
.padding-bottom {
	padding-bottom:30px;
}

#top-container {
	// min-height:700px;
	height:90vh;
	width:100%;
	background: url(../img/water-rock.jpg) no-repeat;
	background-size:cover;
	background-attachment:fixed;
	overflow:hidden;

	text-align:center;

	@include tablet() {
		height:70vh;
	}

	@include phone() {
		height:50vh;
	}
	
	#top-text {
		
		padding-top:7%;
		h1, h2 {
			@include font-size($header-font-sizes);
			// font-size:100px;
			color:white;
		}
		h1 {
			font-weight: $thin;
		}
		h2 {
			font-weight: $bold;
		}

		// Animations
		.hello {
			-webkit-animation-duration:3s;
			-webkit-animation-delay:.01s;
			-webkit-animation-iteration-count:1;
			-moz-animation-duration:3s;
			-moz-animation-delay:.01s;
			-moz-animation-iteration-count:1;
		}
		.mynameis {
			-webkit-animation-duration:3s;
			-webkit-animation-delay:.07s;
			-webkit-animation-iteration-count:1;
			-moz-animation-duration:3s;
			-moz-animation-delay:.07s;
			-moz-animation-iteration-count:1;
		}
		.thomas {
			-webkit-animation-duration:3s;
			-webkit-animation-delay:.13s;
			-webkit-animation-iteration-count:1;
			-moz-animation-duration:3s;
			-moz-animation-delay:.13s;
			-moz-animation-iteration-count:1;
		}
		.iama {
			-webkit-animation-duration:3s;
			-webkit-animation-delay:.2s;
			-webkit-animation-iteration-count:1;
			-moz-animation-duration:3s;
			-moz-animation-delay:.2s;
			-moz-animation-iteration-count:1;
		}
		.ux {
			-webkit-animation-duration:3s;
			-webkit-animation-delay:.27s;
			-webkit-animation-iteration-count:1;
			-moz-animation-duration:3s;
			-moz-animation-delay:.27s;
			-moz-animation-iteration-count:1;
		}
	}
}

.navbar {
	height:10vh;
	overflow:hidden;
	background-color: $dark-grey;
	background: url(../img/footer_lodyas.png);
	// width:100%;
	// position:relative;

	@include tablet() {
		height:5vh;
	}

	@include phone() {
		height:5vh;
	}
	
	ul {
		// padding: 2% 0;
		text-align:center;
		font-weight:$light;

		/*@include tablet() {
			padding:2%;
		}

		@include tablet-l() {
			padding:2%;
		}

		@include phone() {
			padding:2%;
		}*/

		li {
			display: inline;
			font-family:sans-serif;
			// height:10vh;
			vertical-align: middle;

			@include font-size($h1-font-sizes);

			a {
				color: $white;
				line-height:10vh;
				text-decoration: none;
				font-weight:$light;
				font-weight:$bold;

				&:hover {
					color: $green;
				}

				@include tablet() {
					line-height:5vh;
				}

				@include phone() {
					line-height:5vh;
				}
			}
		}

		li:nth-child(1), li:nth-child(2) {
			margin-right:60px;
		}
	}
}

#work {
	position:relative;
	min-height:100%;
	height:100%;
	width:100%;
	overflow:hidden;

	// padding:50px 0;


	.inner-work {
		position:relative;
		max-width:1210px;
		width:100%;
		margin:0 auto;
		padding: 20px 0 60px 0;

		// @include tablet() {
		// 	padding:0;
		// }

		// @include phone() {
		// 	padding:0;
		// }

		.work-item {
			position:relative;
			width:46%;
			padding-bottom:25%;
			// min-height:250px;
			float:left;
/*			background-color:black;*/
			margin: 40px 2% 0 2%;

			//replace this later!
			background: url(../img/calc_thumb.jpg) no-repeat;
			background-size:cover;

			.overlay {
				position:absolute;
				opacity:0;
				width:100%;
				height:100%;
				overflow:none;

				color:white;
				background-color:$dark-grey;
				
				h1 {
					text-align: center;
					padding:40px 0 20px 0;
				}

				p {
					padding:0 30px;
					font-weight:$light;
				}
			}

			&:hover > .overlay{
				cursor:pointer;
				opacity:0.9;
			}

			@include tablet() {
				width:46%;
				padding-bottom:25%;
				margin: 40px 2% 0 2%;
			}

			/*@include tablet() {
				width:56%;
				padding-bottom:35%;
				margin: 0;
			}*/

			@include phone() {
				width: 90%;
				padding-bottom:50%;
				float: none;
				margin: 20px 5%;
			}

			// &:nth-child(n-1) {
			// 	margin-right:10%;
			// }
		}

		/*Work Thumbnails*/

		.item1 {
			background: url(../img/thumbs/tenoric_thumb.jpg) no-repeat;
			background-size:cover;
		}

		.item2 {
			background: url(../img/thumbs/sfconserve_thumb.jpg) no-repeat;
			background-size:cover;
		}

		.item3 {
			background: url(../img/thumbs/brochure_thumb.jpg) no-repeat;
			background-size:cover;
		}

		.item4 {
			background: url(../img/thumbs/narwhal_thumb.jpg) no-repeat;
			background-size:cover;
		}

		.item5 {
			background: url(../img/thumbs/narnaut_thumb.jpg) no-repeat;
			background-size:cover;
		}

		.item6 {
			background: url(../img/thumbs/marshal_thumb.jpg) no-repeat;
			background-size:cover;
		}

		.item7 {
			background: url(../img/thumbs/lgbt_thumb.jpg) no-repeat;
			background-size:cover;
		}

		.item8 {
			background: url(../img/thumbs/ebook_thumb.jpg) no-repeat;
			background-size:cover;
		}
	}
}

// About Section Styles

#about {
	position:relative;
	min-height:800px;
	height:90vh;
	width:100%;
	overflow:none;

	background: url(../img/night-sky.jpg) no-repeat;
	background-attachment: fixed;
	background-size:cover;

	#inner-about {
		position:relative;
		max-width:1210px;
		width:100%;
		margin:0 auto;
		padding: 60px 0 60px 0;
		z-index:99;

		.about-left {
			position:relative;
			float:left;
			width:45%;

			color:$white;

			@include tablet() {
				float:none;
				width:80%;
				margin:0 auto;
			}

			@include phone() {
				float:none;
				width:90%;
				padding:0 5%;
			}

			hr {
				height:2px;
				border:none;
				background-color:$white;
			}

			.about-left-list {
				position:relative;
				width:46%;
				float:left;
				padding:0 2%;
			}
		}
	}
}

#contact {
	position:relative;
	min-height:600px;
	// height:90vh;
	max-width:1210px;
	width:100%;
	padding:60px 0;
	margin:0 auto;
	overflow:hidden;

	#lower-contact {
		p {
			@include font-size($smaller-p-font-sizes);
		}

		hr {
			border:none;
			height:2px;
			background-color:$lighter-grey;

			// &:nth-child(1n) {
			// 	width:90%;
			// }
		}

		@include tablet() {
			width:80%;
			margin:0 auto 40px auto;
			padding:0;
		}
	}

	#upper-contact {
		position:relative;
		width:100%;
		text-align:center;
		color:$light-grey;
		padding-bottom:40px;

		h1 {
			font-weight:$bold;
			padding-bottom:40px;
		}

		h2 {
			@include font-size($p-font-sizes);

		}

		p {
			@include font-size($header-font-sizes);
		}
	}

	.lower-float {
		position:relative;
		float:left;
		width:46%;
		
		&:nth-child(n-1) {
			padding: 0 4% 0 0;
		}

		@include tablet() {
			width:100%;
			margin:0 auto 40px auto;
			padding:0;
		}

		label {
			color:$light-grey;
			@include font-size($p-font-sizes);
		}

		input[type=text] {
			@include font-size($p-font-sizes);
			width:100%;
			height:40px;
			background-color:$lighter-grey;
			border:1px solid $light-grey;
			margin:10px 0 15px 0;
		}

		textarea {
			max-width:100%;
			width:100%;
			max-height:200px;
		}

		input[type=submit] {
			@include font-size($p-font-sizes);
			width:100%;
			height:40px;
			background-color:$dark-grey;
			color:$white;
			border:none;
			margin:15px 0 0 2px;

			border-radius:10px;
			-webkit-border-radius:10px;
			-moz-border-radius:10px;

			&:hover {
				cursor:pointer;
				background-color:$green;
			}
		}
	}

	.lower-right {
		h1 {
			@include font-size($p-font-sizes);
		}

		@include tablet() {
			display:none;
		}

		a {
			text-decoration: none;
		}

		.social>ul>a>li {
			@include font-size($header-font-sizes);
			display:inline;
			color:$dark-grey;

			&:hover {
				cursor:pointer;
				color:$green;
			}
		}

		li:nth-child(1), li:nth-child(2), li:nth-child(3) {
			margin-right:35px;
		}
	}

}

#footer {
	position:relative;
	height:20vh;
	width:100%;
	background-color: $dark-grey;
	color:$light-grey;
	text-align: center;

	a {
		text-decoration: none;
	}

	.footer-social {
		padding:40px 0;
	}

	.footer-social>ul>a>li {
		@include font-size($h2-font-sizes);
		display:inline;
		margin:0 15px;
		color:$light-grey;

		&:hover {
			cursor:pointer;
			color:$green;
		}
	}

	p {
		@include font-size($smaller-p-font-sizes);
	}
}