.modal-wrapper {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $dark-grey-trans;
	color:$white;
  overflow:auto;

	z-index: 100;
	#modal-close {
		position:absolute;
    	width: 100px;
    	text-align: center;
    	padding: 15px;
    	right:5px;
    	top:5px;
    	// border: 1px solid gray;
    	cursor: pointer;


    	@include font-size($header-font-sizes);
    	&:hover {
        	color: $green;    
    	}
	}
	.modal {
		display: none;
		position:relative;
		// clearfix hack
		overflow: auto;
		zoom: 1;

		width: 90%;
		margin: 150px auto;
		// border: 1px solid gray;

		.modal-item {
  		width: 50%;
  		float: left;
  		text-align: left;
      overflow:auto;

  		img {
        padding:0 60px 60px 0;
      	width: 80%;
      	float:right;
  		}

      h1 {
        padding:0 0 20px 0;
      }

      h3 {
        color:$green;
        padding:0 0 40px 0;

        @include font-size($smaller-p-font-sizes);
      }

      h2 {
          padding:0 0 20px 0;
      }

      a {
        color:$white;
        text-decoration:underline;
        @include font-size($h2-font-sizes);

        &:hover {
          color:$green;
        }
      }

      p {
        padding:0 0 20px 0;
      }

  		.inVision {
  			width: 80%;
        height:100%;
      		float:right;
      		padding-right:60px;
  		}
  	}
  	&.is-active { display: block; }
	}
}